# PhpStorm
/.idea/

# Composer
/vendor/
/composer.phar
/auth.json

# Apache
/public/.htaccess

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###
